*{
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
.lazy-img{
    opacity: 1;
    transition: all 0.3s;
}
.hh{
    height: calc(100vh-4.5rem);
}
.ytran{
    transform: translateX(2000px);
}
.ydefault{
    transform: translateX(65px);
    transform: translateY(65px);
}
#cartContainer{
    overflow-y: auto;
}
.hideoverflow{
    overflow: hidden;
}